/* body */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    background-color: #D9D9D9;
    font-family: 'K2D', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #adadad;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #636363;
}


.menu {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}


/* Cabeçalho */

.navbar.bg-body-tertiary {
    padding: 0;
}


.container-fluid.cabecalho {
    background-color: #D9D9D9;
    width: 100%;
}

#ifrn {
    margin-left: 5%;
    width: 7%;
}

.infos p {
    margin: 0;
    font-size: 70%;
    font-weight: bold;
}

.infos {
    width: 70%;
    margin-right: 5%;
    text-align: right;
    float: right;
}


/* Menu principal */

.navbar.navbar-expand-lg.bg-body-tertiary {
    padding: 0;
}

.container-fluid {
    background-color: #12477C;
}

#itjc {
    width: 35%;
}

a.navbar-brand {
    width: 30%;
    text-align: right;
    margin: 0;
    padding-right: 7%;
}

ul.nav.justify-content-center {
    width: 100%;
}

ul.nav.justify-content-center a {
    text-transform: uppercase;
    color: white;
    font-size: 100%;

}

#navbarNav.collapse.navbar-collapse {
    align-items: center;
    width: 60%;
}

button.navbar-toggler {
    border: 0;
    margin-right: 8%;
}


.title {
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    padding: 14px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 0 40px -10px #000;
    color: #505050;
}

span {
    float: right;
    font-size: 18px !important
}

/* MENU LATERAL */
.drop {
    margin-right: 5%;
}

.dropdown {
    background-color: rgba(18, 71, 124, 0.9);
    border-radius: 4px;
    box-shadow: 0 0 40px -10px #000;
    color: #505050;
    width: 80%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    transform: translateX(2050px);
    transition: transform 0.4s ease;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    right: 0;
}

.open {
    transform: translateX(0);
}

.dropdown p {
    color: white;
    text-transform: uppercase;
    text-decoration: none;

    padding: 15px 14px;
    margin: 0;
    transition: all .1s
}

.dropdown p:hover {
    background: #498F34;
    z-index: 1000;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 30px -10px #000
}

.dropdown a {
    text-decoration: none;
}



/* #navbarNav.collapse.navbar-collapse {
    text-transform: uppercase;
    background-color: rebeccapurple;
    width: 70%;
    padding-left: 10%;
}

#navbarNav.collapse.navbar-collapse a {
    text-decoration: none;
    border: 1px solid black;
    margin-left: 15% 15%;
}

.divisoria {
    width: 5%;
    height: 50px;
    border-left: 1px solid white;
} */


/* Seções */
section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #D9D9D9;
    margin-left: 15%;
    margin-right: 15%;

    display: flex;
    justify-content: center;
}

section h1 {
    font-size: 70px;
    color: black;
}

.icon-cont {
    text-align: center;
}

/* Background */

#inicio img {
    height: 130px;
    width: 100%;
    position: relative;
}

#inicio p {
    position: absolute;
    margin-top: -110px;
    margin-left: 15%;
    background-color: #12477C;
    text-transform: uppercase;
    color: #D9D9D9;
    padding: 10px 20px;
    font-size: 25px;
    letter-spacing: 2px;
}

/* Seção Início */

section#inicio-txt {
    display: block;
    margin-top: 0;
    min-height: 55vh;

}

.flex {
    display: flex;
}

.txt-incubadora {
    width: 70%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3%;
    padding-right: 14%;
    font-weight: bold;
    letter-spacing: 2px;
}

.txt-incubadora h4 {
    color: #12477C;
    font-family: 'K2D', sans-serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
}

.txt-incubadora p {
    font-size: 20px;
}

.destaque.inicio {
    padding-top: 4%;
    width: 30%;
}

.card.inicio {
    position: inherit;
    float: right;
    width: 100%;
    align-items: center;
    border: 3px solid #adadad;
    border-radius: 0;
}

.card-img-top.inicio {
    width: 100%;
}

.btn.btn-primary.inicio {
    background-color: #161f44;
    border: 0;
}

.card-body.inicio {
    background-color: #D9D9D9;
}

/* Seção Sobre */
section#sobre {
    width: 100%;
    margin: 0;
    margin-top: 2%;
    display: block;
    min-height: 45vh;
    background-color: #161f44;
}

.sobre {
    margin: 0 15%;
    text-align: center;
}

.sobre-txt {
    text-align: center;
}

.sobre h3 {
    padding-top: 5%;
    padding-bottom: 1%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 35px;
    color: #D9D9D9;
}

.sobre p {
    font-size: 20px;
    color: #D9D9D9;
    letter-spacing: 2px;
    padding-bottom: 3vh;
}

.sobre button {
    background-color: #12477C;
    border-radius: 5vh;
    border: 0;
    width: 35vh;
    height: 7vh;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

/* Seção incubação */

section#incubacao {
    background-color: white;
    margin: 0;
    width: 100%;
}

section#divi {
    background-color: #12477C;
    margin: 0;
    width: 100%;
    min-height: 5vh;
}


/* Section Empresa */

section#empresas {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    background-color: white;
}

.empresas {
    margin: 0;
}

section#empresas header h2 {
    font-family: 'K2D';
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 3%;
    text-align: center;
    text-transform: uppercase;
    color: #3C3C3C;
}

.container-empresas {
    width: 70vw;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap !important;
    gap: 2vw;
}

#card-empresa {
    width: 21vw;
    border: 1px solid #adadad;
    border-radius: 0;
    background: transparent;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);

}

.content-img-empresa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5vh;
}

#card-img-top {
    width: 15vw;
    height: 12vw;

}

/* Seção email */

section#email {
    font-family: sans-serif;
    align-items: center;
    background-color: #161f44;
    color: #D9D9D9;
    margin: 0;
    min-height: 50vh;
    padding-left: 20%;
    padding-right: 20%;
}

.dados {
    width: 40%;
    display: block;
    align-items: center;
}

.dados input {
    border: 0;
    color: white;
    border-bottom: 2px solid #636363;
    background-color: #161f44;
    width: 40vh;
    height: 5vh;
    outline: 0;
}

.dados input:focus {
    border-bottom: 2px solid black;
}

.dados input:valid {
    border-bottom: 2px solid black;
}

.dados ::placeholder {
    color: #636363;
    font-size: 12px;
    text-transform: uppercase;
}

.dados label {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}

.txt-email {
    width: 50%;
    float: right;
}

.txt-email h2 {
    padding-bottom: 3%;
    font-size: 45px;
    color: #12477C;
    font-weight: bold;
    letter-spacing: 2px;
}

.txt-email p {
    font-size: 20px;
    letter-spacing: 2px;
}

.txt-email img {
    width: 100px;
    float: right;
}

.dados button {
    border-radius: 10px;
    width: 20vh;
    height: 5vh;
    background-color: #12477C;
    font-weight: bold;
    border: 2px solid #D9D9D9;
    color: #D9D9D9;
}

/* Seção Editais */

section#editais {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-top: 3vh;
    background-color: #D9D9D9;
}

.editais {
    margin: 0 15%;
}

section#editais h2 {
    font-family: 'K2D';
    font-weight: 600;
    margin-bottom: 0;
    color: #3C3C3C;
    text-align: center;
    font-size: 40px;
    margin-bottom: 3vh;
    text-transform: uppercase;
}

.container-editais {
    width: 99%;
    max-height: 90vh;
    overflow-y: auto;
}

.edital-unitario {
    border: 1.2px solid #adadad;
    border-radius: 0.2rem;
    padding: 1rem;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
    gap: 1vw;
    margin-right: 3vh;
    margin-bottom: 3vh;
}

.edital-unitario div p {
    font-size: 18px;
}

#body-edital-unitario {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#imagem-edital {
    width: 20vw;
}

.edital-unitario-materia {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.edital-unitario-materia span {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

#rodape-edital-unitario {
    display: flex;
    justify-content: flex-end;
}

.buttonSaibaMais {
    padding: 0.3rem;
    width: 10vw;
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    border-radius: 0.45vw;
    font-size: 1.01vw;
}

.buttonSaibaMais:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    border: 1px solid rgb(255, 255, 255, 0.8);
}

.button-edital {
    padding: 0.8% 3% 0.8% 3%;
    font-family: 'Poppins' !important;
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    border-radius: 0.45vw;
    font-size: 1.2vw;
}

.button-edital:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    border: 1px solid rgb(255, 255, 255, 0.8);
}

/* EditalView */
.editalview {
    margin: 7vh 15%;
}

.editalview h2 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.editalview p {
    text-align: justify;
    margin-top: 5vh;
    font-size: 18px;
}

.edital_top {
    display: flex;
}

.edital_img img {
    width: 45vh;
    margin-left: 5vh;
}

button.button-edital.view {
    font-size: 2.5vh;

}


/* Seção contato */
section#contato {
    background-color: #498F34;
    min-height: 40vh;
    width: 100vw;
    margin: 0;
    margin-top: 3%;
}

div.card.contato {
    background: transparent;
    width: 20rem;
    border: 0;
}

#ulContato {
    width: 100%;
    display: flex;
    gap: 4vw;
    text-align: justify;
}

.card-text {
    line-height: 1.2;
    font-weight: bold;
}

.card-title.contato {
    color: white;
    font-family: 'K2D', sans-serif;
    font-weight: 700;
    font-size: 1.4vw;
}

.card-body-son {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-bottom: 2vh;
}

/* Direitos autorais */

section#autoral {
    margin: 0;
    background-color: #D9D9D9;
    min-height: 3vh;
}


/* Responsividade */

@media (min-width: 991px) {
    .drop {
        display: none;
    }
}

@media (max-width: 1465px) {

    /* Seção inicio */
    .txt-incubadora h4 {
        font-size: 30px;
    }

    .txt-incubadora p {
        font-size: 20px;
    }

    /* Seção Sobre */
    .sobre-txt h3 {
        font-size: 23px;
    }

    /* Seção email*/
    section#email {
        padding-left: 15%;
        padding-right: 15%;
    }

    /* EditalView */

    .editalview h2 {
        font-size: 25px;
    }

    .editalview h3 {
        font-size: 22px;
    }

    .editalview h5 {
        font-size: 18px;
    }
}

@media (max-width: 1045px) {

    /* Seção contatos */

    .card-title.contato {
        font-size: 15px;
    }

    #ulContato {
        display: block;
        margin-left: 28%;
    }

    /* Seção email*/
    section#email {
        padding-left: 15%;
        padding-right: 15%;
        min-height: 45vh;
    }

    .txt-email h2 {
        font-size: 35px;
    }

    .txt-email p {
        font-size: 16px;
    }

    .txt-email img {
        width: 80px;
    }

    .dados button {
        width: 17vh;
    }

    .dados input {
        width: 35vh;
    }

    .dados label {
        font-size: 15px;
    }

    /* EditalView */
    .editalview {
        margin: 7vh 10%;
    }

    .editalview h2 {
        font-size: 25px;
    }

    .editalview h3 {
        font-size: 3vh;
    }
}

@media (max-width: 991px) {

    /* Cabeçalho */
    #ifrn {
        width: 10%;
        margin-left: 2%;
    }

    .infos {
        margin-right: 2%;
    }

    /* Menu principal */

    a.navbar-brand {
        width: 30%;
        margin: 0;
        text-align: center;
        padding-right: 0;
    }

    /* Background */
    #inicio img {
        height: 100px;
    }

    #inicio p {
        margin-top: -80px;
        font-size: 15px;
        margin-left: 10%;
    }

    /* Seções */
    section {
        margin-left: 10%;
        margin-right: 10%;
    }

    /* Seção inicio */
    .txt-incubadora h4 {
        font-size: 22px;
    }

    .txt-incubadora p {
        font-size: 15px;
    }

    /* Seção Sobre */

    section#sobre {
        min-height: 40vh;
    }

    .sobre {
        margin: 0 5%;
    }

    .sobre h3 {
        font-size: 22px;
    }

    .sobre p {
        font-size: 15px;
    }

    /* Seção Empresas*/
    #card-empresa {
        width: 32vw;
    }

    /* Seção email*/
    section#email {
        padding-left: 5%;
        padding-right: 5%;
        min-height: 35vh;
    }

    /* EditalView */
    .editalview {
        margin: 6vh 10%;
    }

    .editalview h2 {
        font-weight: bold;
        text-transform: uppercase;
    }

    .edital_top {
        display: block;
    }

    .edital_img {
        margin: 5vh 19%;
    }

    .edital_img img {
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 680px) {

    ::-webkit-scrollbar {
        display: none;
    }

    /* Cabeçalho */
    #ifrn {
        width: 12%;
    }

    .infos p {
        font-size: 50%;
    }

    /* Menu principal */
    #itjc {
        width: 45%;
    }

    a.nav-link {
        display: none;
    }

    /* Background */
    #inicio img {
        height: 80px;
    }

    .icon-cont {
        display: none;
    }

    #inicio p {
        font-size: 12px;
        margin-top: -70px;
    }

    /* Seção inicio */
    .flex {
        display: block;
    }

    .txt-incubadora {
        width: 100%;
        padding-right: 0;
    }

    .txt-incubadora h4 {
        font-size: 34px;
    }

    .txt-incubadora p {
        font-size: 15px;
    }

    .destaque.inicio {
        width: 60%;
        margin-left: 20%;
    }

    .card {
        float: none;
        width: 70%;
    }

    .card.inicio {
        float: none;
    }

    /* Seção Sobre */
    section#sobre {
        margin-top: 8%;
    }

    .sobre button {
        width: 28vh;
        font-size: 18px;
    }

    /* Seção Empresas */

    section#empresas header h2 {
        font-size: 30px;
    }

    #card-empresa {
        width: 95%;
    }

    /* Seção email*/
    section#email {
        display: flex;
        min-height: 70vh;
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
    }

    .dados {
        padding-top: 8%;
        width: 100%;
        order: 2;
    }

    .txt-email {
        width: 100%;
        order: 1;
    }

    .txt-email h2 {
        font-size: 35px;
        margin-bottom: 0;
    }

    .txt-email p {
        font-size: 16px;
    }

    .txt-email img {
        display: none;
    }

    .dados button {
        width: 22vh;
    }

    .dados input {
        width: 100%;
    }

    .dados label {
        font-size: 15px;
    }

    /* EditalView */
    .editalview {
        margin: 6vh 5%;
    }

    .editalview h2 {
        font-weight: bold;
        text-transform: uppercase;
    }

    .edital_top {
        display: block;
    }

    .edital_img {
        margin: 5vh 14%;
    }
}

@media (max-width: 544px) {

    /* Menu principal */
    #itjc {
        width: 45%;
    }

    button.navbar-toggler {
        margin-right: 5%;
    }

    /* Seção inicio */
    .txt-incubadora h4 {
        font-size: 27px;
    }

    /* Seção Sobre */
    .sobre-txt h3 {
        font-size: 25px;
    }

    /* Seção contatos */

    #ulContato {
        margin-left: 22%;
    }

    /* Seção Empresas*/
    section#empresas header h2 {
        font-size: 25px;
    }

    /* Edital View */

    .editalview {
        margin-top: 4vh;
    }

    .editalview h2 {
        font-size: 19px;
    }

    .editalview h3 {
        font-size: 18px;
    }

    .editalview h5 {
        font-size: 16px;
    }

}

@media (max-width: 450px) {

    /* Cabeçalho */
    #ifrn {
        width: 18%;
        margin-left: 0;
    }

    div.container-fluid.cabecalho {
        padding: 0;
    }

    /* Menu principal */
    a.navbar-brand {
        text-align: left;
    }

    #itjc {
        width: 60%;
        margin-left: 10%;
    }

    button.navbar-toggler {
        margin-right: 0%;
    }

    /* Background */
    .background img {
        height: 140px;
    }

    /* Seção Sobre */
    section#sobre {
        min-height: 45vh;
    }

    /* Seção Empresas*/

    section#empresas header h2 {
        font-size: 20px;
    }

    /* Seção contatos */

    #ulContato {
        margin-left: 0;
    }
}