/* body */
* {
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #D9D9D9;
    font-family: 'K2D', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.menu {
    width: 100%;
    position: fixed;
}

/* Cabeçalho */

.navbar.bg-body-tertiary {
    padding: 0;
}


.container-fluid.cabecalho {
    background-color: #D9D9D9;
    width: 100%;
}

#ifrn {
    margin-left: 5%;
    width: 7%;
}

.infos p {
    margin: 0;
    font-size: 70%;
    font-weight: bold;
}

.infos {
    width: 70%;
    margin-right: 5%;
    text-align: right;
    float: right;
}


/* Menu principal */

.navbar.navbar-expand-lg.bg-body-tertiary {
    padding: 0;
}

.container-fluid {
    background-color: #12477C;
}

#itjc {
    width: 35%;
}

a.navbar-brand {
    width: 30%;
    text-align: right;
    margin: 0;
    padding-right: 7%;
}

ul.nav.justify-content-center {
    width: 100%;
}

ul.nav.justify-content-center a {
    text-transform: uppercase;
    color: white;
    font-size: 100%;

}

#navbarNav.collapse.navbar-collapse {
    align-items: center;
    width: 60%;
}

button.navbar-toggler {
    border: 0;
    margin-right: 8%;
}

/* #navbarNav.collapse.navbar-collapse {
    text-transform: uppercase;
    background-color: rebeccapurple;
    width: 70%;
    padding-left: 10%;
}

#navbarNav.collapse.navbar-collapse a {
    text-decoration: none;
    border: 1px solid black;
    margin-left: 15% 15%;
}

.divisoria {
    width: 5%;
    height: 50px;
    border-left: 1px solid white;
} */


/* Seções */
section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #D9D9D9;
    border-top: 1px solid black;
    margin-left: 15%;
    margin-right: 15%;

    display: flex;
    justify-content: center;
}

section h1 {
    font-size: 70px;
    color: black;
}

/* Background */
.background img {
    height: 220px;
    width: 100%;
}

/* Seção Início */
section#inicio-txt {
    display: flex;
    min-height: 65vh;
    /*background-color: rebeccapurple;*/

}

.txt-incubadora {
    width: 70%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3%;
    padding-right: 12%;
    font-weight: bold;
}

.txt-incubadora h4 {
    color: #12477C;
    font-family: 'K2D', sans-serif;
    font-size: 55px;
    font-weight: bold;
}

.txt-incubadora p {
    font-size: 20px;
}

.destaque {
    padding-top: 4%;
    width: 30%;
}

.card {
    position: inherit;
    float: right;
    width: 100%;
}

/*.card-body {
    background-color: #D9D9D9;
    border-left: 1px solid #7A7A7A;
    border-right: 1px solid #7A7A7A;
    border-bottom: 1px solid #7A7A7A;
}*/

/* Seção Incubação */
section#incubacao img {
    width: 100%;
}

/* Seção contato */
section#contato {
    background-color: #498F34;
    min-height: 20vh;
    width: 100%;
    margin: 0;
}

div.card.contato {
    background-color: #498F34;
    width: 20rem;
    border: 0;
}

#ulContato {
    display: flex;
    gap: 4vw;
    text-align: justify;
}

.card-title.contato {
    color: white;
    font-family: 'K2D', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1.2vw;
}

.card-body-son {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-bottom: 2vh;
}

/* Seção divisoria azul */
section#divi-azul {
    background-color: #12477C;
    min-height: 8vh;
    width: 100%;
    margin: 0;
}

/* Seção Editais */

.container-editais {
    width: 99%;
    max-height: 90vh;
    overflow-y: scroll;
}

.container-editais::-webkit-scrollbar {
    width: 0px;
}

.edital-unitario {
    border: 1.2px solid black;
    border-radius: 0.2rem;
    padding: 1rem;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    gap: 1vw;
}

.edital-unitario div p {
    font-size: 1vw;
}

.edital-unitario+.edital-unitario {
    margin-top: 3vh;
}

#body-edital-unitario {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#imagem-edital {
    width: 20vw;
}

.edital-unitario-materia {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.edital-unitario-materia span {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

#rodape-edital-unitario {
    display: flex;
    justify-content: flex-end;
}

.buttonSaibaMais {
    padding: 0.3rem;
    width: 10vw;
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    border-radius: 0.45vw;
    font-size: 1.01vw;
}

.buttonSaibaMais:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    border: 1px solid rgb(255, 255, 255, 0.8);

}


/* EditalView */

.editalview {
    margin-left: 15%;
    margin-right: 15%;
}

.editalview p {
    text-align: justify;
}

/* Responsividade */

@media (max-width: 1465px) {

    /* Seção inicio */
    .txt-incubadora h4 {
        font-size: 35px;
    }

    .txt-incubadora p {
        font-size: 15px;
    }
}

@media (max-width: 991px) {

    /* Cabeçalho */
    #ifrn {
        width: 10%;
        margin-left: 2%;
    }

    .infos {
        margin-right: 2%;
    }

    /* Menu principal */

    a.navbar-brand {
        width: 30%;
        margin: 0;
        text-align: center;
        padding-right: 0;
    }

    /* Seções */
    section {
        margin-left: 10%;
        margin-right: 10%;
    }

    /* Seção inicio */
    .txt-incubadora h4 {
        font-size: 25px;
    }

    .txt-incubadora p {
        font-size: 15px;
    }

}

@media (max-width: 680px) {

    /* Cabeçalho */
    #ifrn {
        width: 12%;
    }

    .infos p {
        font-size: 50%;
    }

    /* Menu principal */
    #itjc {
        width: 45%;
    }

    /* Background */
    .background img {
        height: 180px;
    }

    /* Seção inicio */
    section#inicio-txt {
        display: block;

    }

    .txt-incubadora {
        width: 100%;
        padding-right: 0;
    }

    .txt-incubadora h4 {
        font-size: 40px;
    }

    .txt-incubadora p {
        font-size: 15px;
    }

    .destaque {
        width: 100%;
    }

}

@media (max-width: 544px) {

    /* Menu principal */
    #itjc {
        width: 45%;
    }

    button.navbar-toggler {
        margin-right: 5%;
    }

    /* Seção inicio */
    .txt-incubadora h4 {
        font-size: 33px;
    }

}

@media (max-width: 450px) {
    section {
        margin-left: 5%;
        margin-right: 5%;
    }

    /* Cabeçalho */
    #ifrn {
        width: 18%;
        margin-left: 0;
    }

    div.container-fluid.cabecalho {
        padding: 0;
    }

    /* Menu principal */
    a.navbar-brand {
        text-align: left;
    }

    #itjc {
        width: 60%;
        margin-left: 10%;
    }

    button.navbar-toggler {
        margin-right: 0%;
    }

        /* Background */
        .background img {
            height: 140px;
        }
}