{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
          <li><a href="#home">ITJC</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#incubação">Incubação</a></li>
          <li><a href="#empresas">Empresas</a></li>
          <li><a href="#editais">Editais</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </nav>
      
      
      <section id="home">
        <h1>Seção 1</h1>
      </section>
      
      <section id="sobre">
        <h1>Seção 2</h1>
      </section>

      <section id="incubação">
        <h1>Seção 3</h1>
      </section>
      
      <section id="empresas">
        <h1>Seção 4</h1>
      </section>
      
      <section id="editais">
        <h1>Seção 5</h1>
      </section>

      <section id="contato">
        <h1>Seção 6</h1>
      </section>

    {% block content %}
    {% endblock %}
</body>
</html>