{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %} {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0407c4301f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
  </head>

  <body>
    <div class="menu">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid cabecalho">
          <img id="ifrn" src="{% static 'img/ifrn-logo.png' %}" alt="IFRN" class="d-inline-block align-text-top" />
          <div class="infos">
            <p>
              <i class="fa-solid fa-calendar" style="color: #000000;"></i> SEG - SEX • 7h00 - 22h00 | <i class="fa-solid fa-location-dot" style="color: #000000;"></i> JOÃO CÂMARA, RN - BRASIL
            </p>
          </div>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img id="itjc" src="{% static 'img/itjc-logo.PNG' %}" alt="" /></a>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav justify-content-center">
              <div class="divisoria"></div>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#inicio">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#sobre">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#incubacao">Incubação</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#empresas">Empresas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#editais">Editais</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#contato">Contato</a>
              </li>
            </ul>
          </div>
          <div class="drop">
            <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;" onclick="openMenu()"></i>
          </div>
        </div>
      </nav>
      <div class="dropdown">
        <a href="#inicio"><p>início<span><i class="fa-solid fa-house fa-lg" style="color: #ffffff;"></i></span></p></a>
        <a href="#sobre"><p>Sobre<span><i class="fa-solid fa-circle-info fa-lg" style="color: #ffffff;"></i></span></p></a>
        <a href="#incubacao"><p>Incubação<span><i class="fa-solid fa-users-line fa-lg" style="color: #ffffff;"></i></span></p></a>
        <a href="#empresas"><p>Empresas<span><i class="fa-solid fa-shop fa-lg" style="color: #ffffff;"></i></span></p></a>
        <a href="#editais"><p>Editais <span><i class="fa-solid fa-newspaper fa-lg" style="color: #ffffff;"></i></span></p></a>
        <a href="#contato"><p>Contato <span><i class="fa-solid fa-phone fa-lg" style="color: #ffffff;" ></i></span></p></a>
      </div>
    </div>

    {% block content %}

    {% endblock %}


      <section id="contato">
        <ul id="ulContato" class="nav justify-content-center">
          <li class="nav-item">
            <div class="card contato">
              <div class="card-body">
                <h5 class="card-title contato">Fale conosco</h5>
                <div class="card-body-son">
                  <i class="fa-regular fa-envelope fa-xl" style="color: #000000;"></i>
                  <p class="card-text">incubadora@gmail.com</p>
                </div>
                <div class="card-body-son">
                  <i class="fa-brands fa-instagram fa-xl" style="color: #000000;"></i>
                  <p class="card-text">@itjcincubadora</p>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <div class="card contato">
              <div class="card-body">
                <h5 class="card-title contato">Endereço</h5>
                <div class="card-body-son">
                  <i class="fa-solid fa-map-location fa-2xl" style="color: #000000;"></i>
                  <p class="card-text">BR-406 km 73 3500 Perímetro Rural, João Câmara - RN, 59550-000</p>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <div class="card contato">
              <div class="card-body">
                <h5 class="card-title contato">ITJC</h5>
                <p class="card-text">É importante saber que os projetos que nascem na Incubadora Tecnológica do Campus João Câmara tem o apoio da Direção do Campus, da Coordenação de Pesquisa e da equipe que desenvolve as atividades junto com a coordenação. Por isso, as portas da ITJC estão abertas há 10 anos e continuarão abertas gerando mais resultados!!!!</p>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <section id="autoral">
        COPY
      </section>

    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
