{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>
  <div class="cabecalho">
    <div class="img"><img src="{% static 'img/ifrn-logo.png' %}" alt=""></div>

    <div class="infos">
        <p><i></i>SEG - SEX • 7h00 - 22h00  |  <i></i>JOÃO CÂMARA, RN - BRASIL</p>
    </div>
  </div>

  <nav>
    <ul>
      <li><a href="#inicio">Início</a></li>
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="#incubacao">Incubação</a></li>
      <li><a href="#empresas">Empresas</a></li>
      <li><a href="#editais">Editais</a></li>
      <li><a href="#contatos">Contatos</a></li>
    </ul>
  </nav>

  {% block content %}
  {% endblock %}

  copyrigth itjc
</body>

</html>