{% extends 'base.html' %}
{% block title %}ITJC{% endblock %}

{% block content %}
<div class="editalview">
    <div class="edital_top">
        <div class="edital_titulo">
            <h2>{{edital.titulo}}</h2>
            <h3>{{edital.subtitulo}}</h3>
            <h5>Situação: <b>{{edital.status}}</b></h5>
        </div>
        <div class="edital_img">
            {% if edital.imagem %}
            <img src="{{ edital.imagem.url }}" alt="Edital" />
            {% else %}
            <p>Nenhuma imagem disponível</p>
            {% endif %}
        </div>
    </div>
    <p>{{edital.materia}}</p>
    <a href="{{edital.link}}"><button class="button-edital view"><b>EDITAL</b></button></a>
    <a href="{{edital.inscricao}}"><button class="button-edital view"><b>INSCREVA-SE</b></button></a>
</div>
{% endblock %}