{% extends 'base.html' %}
{% block title %}ITJC{% endblock %}

{% block content %}

<section id="home">
    <h1>Seção 1</h1>
</section>

<section id="sobre">
    <h1>Seção 2</h1>
</section>

<section id="incubação">
    <h1>Seção 3</h1>
</section>

<section id="empresas">
    {% for empresa in empresas %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="/empresa/{{empresa.id}}">{{empresa.nome}}</a></h5>
        </div>
    </div>
    {% endfor %}
</section>

<section id="editais">
    {% for edital in editais %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="/edital/{{edital.id}}">{{edital.titulo}}</a></h5>
        </div>
    </div>
    {% endfor %}
</section>

<section id="contato">
    <h1>Seção 6</h1>
</section>

{% endblock %}