{% extends 'base.html' %}
{% load static %}
{% block title %}

ITJC
{% endblock %}

{% block content %}
<div id="inicio">
  <img src="{% static 'img/background.PNG' %}" />
  <p>Há 10 anos transformando <br> o futuro da sua empresa</p>
</div>

<section id="inicio-txt">
  <div class="flex">
    <div class="txt-incubadora">
      <h4>Incubadora Empresarial</h4>
      <p>A incubadora de empresas é uma forma de estimular o empreendedorismo. Ela fortalece e prepara as pequenas
        empresas com o intuito de fazê-las sobreviver no mercado.</p>

      <p> É um local que abriga esses negócios, oferecendo
        estrutura capaz de estimular, fornecer e agilizar a transferência de resultados de pesquisa para atividades
        voltadas à produção.</p>
    </div>

    <div class="destaque inicio">
      {% for edital in editais %}
      {% if edital.destaque == 'sim' %}
      <div class="card inicio">
        {% if edital.imagem %}
        <img src="{{ edital.imagem.url }}" class="card-img-top inicio" alt="{{edital.nome}}" />
        {% else %}
        <p>Nenhuma imagem disponível</p>
        {% endif %}

        <div class="card-body inicio">
          <h5 class="card-title inicio">{{ edital.titulo }}</h5>
          <p class="card-text inicio">{{ edital.materia }}</p>
          <a href="/edital/{{ edital.id }}" class="btn btn-primary inicio">SAIBA MAIS >></a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<section id="sobre">
  <div class="sobre">
    <h3>Sobre a incubadora tecnológica</h3>
    <p>Uma incubadora de empresas é uma instituição que fornece suporte e
      recursos para micro e pequenas empresas em
      estágio inicial ou em operação.</p>
    <button>REVISTA ITJC</button>
  </div>

</section>

<section id="incubacao">
  <h2>Processos seletivos</h2>

  <div class="incubacao">
    <div class="hotel">
      <img src="{% static 'img/not-pessoa.png' %}">
      <h3>Hotel de Projetos</h3>
      <p>O hotel de ideias é o primeiro processo seletivo, voltado para aqueles que tem apenas uma ideia empresarial no
        papel. Nessa fase eles recebem orientação para verificar se são viáveis técnica, mercadológica e
        financeiramente.</p>
      <a href="/">Inscrever-se</a>
    </div>

    <div class="processo">
      <img src="{% static 'img/mundo.png' %}" alt="">
      <h3>Processo de incubação</h3>
      <p>O Processo de Incubação é apenas para aqueles que já possuem o CNPJ. As empresas irão receber
        consultoria e acessória nas áreas que eles possuem maior carência, para daí eles se desenvolverem melhor gerando
        mais empregos e renda ajudando a sua comunidade.</p>
      <a href="/">Inscrever-se</a>
    </div>
  </div>

</section>


<section id="empresas">
  <div class="empresas">
    <header>
      <h2>Empresas incubadas</h2>
    </header>
    <div class="container-empresas">
      {% for empresa in empresas %}
      <div id="card-empresa" class="card">
        {% if empresa.imagem %}
        <div class="content-img-empresa">
          <img id="card-img-top" src="{{ empresa.imagem.url }}" alt="Edital" />
        </div>
        {% else %}
        <p>Nenhuma imagem disponível.</p>
        {% endif %}

        <hr>

        <div class="card-body empresa">
          <h5 class="card-title"><b>{{ empresa.nome }}</b></h5>
          <p class="card-text">{{ empresa.descricao }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="email">
  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input href='{% url "email-automatico" %}' id="botao-email" type="submit" value="Enviar">
    <script>
      document.getElementById('botao-email').addEventListener('click', function() {
          window.location.href = '{% url "email-automatico" %}';
          console.log('ahpaz')
      });
    </script>
  </form>
  <div class="txt-email">
    <h2>Cadastre-se</h2>
    <p>Cadastre-se e seja o primeiro a receber noticias, informações e novos editais da incubadora</p>
    <img src="{% static 'img/logo-transparente.png' %}" alt="">
  </div>
</section>

<section id="editais">
  <div class="editais">
    <h2>Editais</h2>
    <div class="container-editais">
      {% for edital in editais %}
      <div class="edital-unitario">
        <div id="body-edital-unitario">
          <div>
            {% if edital.imagem %}
            <img id="imagem-edital" src="{{ edital.imagem.url }}" alt="Edital" />
            {% else %}
            <p>Nenhuma imagem disponível</p>
            {% endif %}
          </div>

          <div class="edital-unitario-materia">
            <h5><b>{{ edital.titulo }}</b></h5>
            <span>{{ edital.materia }}</span>
            <p>Situação: <b>{{ edital.status }}</b></p>
          </div>
        </div>
        <footer id="rodape-edital-unitario">
          <a href="/edital/{{ edital.id }}"><button class="buttonSaibaMais"><b>SAIBA MAIS >></b></button></a>
        </footer>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}