{% extends 'base.html' %}
{% load static %}
{% block title %}ITJC{% endblock %}

{% block content %}

<section id="inicio">

</section>

<section id="sobre">

</section>

<section id="incubacao">

</section>

<section id="empresas">
    {% for empresa in empresas %}
    <ul>
        <li><a href="#">{{empresa.nome}}</a></li>
    </ul>
    {% endfor %}

</section>

<section id="editais">
    <div class="container-editais">                 
        <h2>Editais</h2>
        {% for edital in editais %}
        <div class="edital-unitario">
            <header>
                <p><b>EDITAL Nº 3/2023 - DG/RJ/RE/IFRN</b></p>
            </header>
            <div id="body-edital-unitario">
                <div>
                    {% if edital.imagem %}
                        <img id="imagem-edital" src="{{ edital.imagem.url }}" alt="Edital">
                    {% else %}
                        <p>Nenhuma imagem disponível.</p>
                    {% endif %}
                </div>
    
                <div class="edital-unitario-materia">
                    <span>{{edital.materia}}</span>
                    <p>Situação: {{edital.status}}</p>
                </div>
            </div>
            <footer id="rodape-edital-unitario">
               <a href={{edital.link}}><button class="buttonSaibaMais"><b>SAIBA MAIS >></b></button></a>
            </footer>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}